/* font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}
.top-banner{
    width: 100%;
    background-color: #264653;
    height: 698px;
}
.btn-all{
    width: 168px;
    height: 44px;
    background-color: #E76F51
;

}
.banner-p{
    color: #E0E0E0;
}
.banner-h{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;

color: #FFFFFF;
}
.banner-left{
    margin-top:215px ;
    margin-left: 185px;
}

.grayscale{
    filter: grayscale(100%);

}
.filled{
    color:#FFC014
}
.empty{
    color: black;
}
#client-img-3{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
#bike-details{
    position: absolute;
}



